@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@900&display=swap');
*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    
}
body{
    max-width: 1200px;
    margin: auto;
    color:#7b8bad;
}
.title{
    font-family: "barlow black", sans-serif;
    text-transform: uppercase;
    color:#162542;
}

.rows{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.upper-row{
    margin-left:5%;
    margin-right:0%;
}

.img-container{
    border-radius:1rem;
    overflow: hidden; /* does not work, why?*/
}


.h1{
    font-weight:900;
    font: 3.5rem;
    line-height:1;
    

}
p{
    font-family: "barlow medium", sans-serif;
    font-weight:light;
    color:#7B8BAD;
    font: 1rem;
    line-height:1.625;
    

}

header{
    display: flex;
    justify-content: space-between;
    margin:5%;
    
}

.button {
    border: none;
    padding: 2%;
    text-align: center;
    text-transform: uppercase;
    font-size: auto;
    border-radius:0.5rem;
    height: 3rem;
    width: 10rem;

}
.button-gray {
    background-color:#e8eff2;
    color:#162542;
}
.button-gray:hover {
    background-color: #162542;
    color: white;
}
.button-orange{
    background-color: #f16718;
    color:white;
    margin-right:2em;
    margin-top: 1.5em;

}
.botton-orange:hover{
    background-color: #ff9b62;
    color:white;
}






.writing-block1{
    width: 25rem;
    margin-right: 5rem;
    margin-bottom: 2rem;

}
.writing-block2{
    width: 15rem;
    margin-right:0;
    
}
.release-date{
    text-transform: uppercase;
    
}



/*This applies a color overlay to img with the class name*/
.phone{
    background-color: hsla(22, 88%, 52%, 1);
    border-radius: 15px;
}


.img-phone{
    opacity: 0.75;
    mix-blend-mode: multiply;
} 

.s3{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(11rem,1fr));
    grid-gap: 50px;
    
    
}

.icon{
    background-color: #f16718;
    width: 4rem;
    height: 4rem;
    margin-bottom: 3rem;
    border-radius: 15px;
    padding: 6%;
    display:flex;
    justify-content: center;
    align-items: center;
    
}